@font-face {
  font-family: bungee;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@fontsource/bungee/files/bungee-latin-400-normal.woff2') format('woff2'),
    url('@fontsource/bungee/files/bungee-latin-400-normal.woff') format('woff');
}

@font-face {
  font-family: barcode;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@fontsource/libre-barcode-128-text/files/libre-barcode-128-text-latin-400-normal.woff2') format('woff2'),
    url('@fontsource/libre-barcode-128-text/files/libre-barcode-128-text-latin-400-normal.woff') format('woff');
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  --fg: #6655EE88;
  --bg: #44118844;
  --bo: #22003399;
  --bl: #22003344;
  --bn: #22003322;
  --x0: #441144;
  --x1: #221177;
  --x2: #9944BB;
  --x3: #330022;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --thumb-width: 1rem;
  --thumb-height: 1rem;
  --thumb-bg: var(--x1);
  --thumb-radius: 30%;
  --thumb-shadow: 0 0 0.8rem #00000033;
  --thumb-transition: all 0.2s ease;
  --thumb-hover-scale: 2.4;
  --thumb-hover-bg: var(--x2);
}

* {
  user-select: none;
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
}

html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  /* background: var(--bg); */
  /* scrollbar-color: var(--x0) transparent; */
  /* scrollbar-width: thin; */
}

canvas#gradient-gl {
  filter: blur(6rem) brightness(0.9);
}

main {
  /* position: relative; */
  /* z-index: 1; */
  display: grid;
  place-items: center;
  gap: 2rem;
  min-height: 90vh;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-top: 0.4rem;
  transition: transform 0.2s ease;

  span {
    margin: 0;
    font-size: 2.4rem;
    background: #00000066;
    padding: 0rem 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-family: barcode, monospace;
    backdrop-filter: blur(10px);
    mix-blend-mode: overlay;
  }

  a {
    padding: 0.5rem;
    border-radius: 50%;

    img {
      transition: all 0.3s ease;
      mix-blend-mode: plus-lighter;

      &:hover {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
  }
}


input {
  font: inherit;
  background-color: var(--bo);
  border: none;
  border-radius: 1.4rem;
  padding: 0.5rem 1rem;
  outline: 10px solid var(--bo);
  color: var(--x2);
  transition: all 0.6s ease;
  mix-blend-mode: color-dodge;

  &:hover {
    outline-color: var(--x1);
    background-color: var(--x1);
    opacity: 1;
  }

  &:focus {
    outline-color: var(--x1);
    background-color: var(--x1);
    opacity: 1;
  }
}


#inputWrap {
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* width: min(90vw, 420px); */
  overflow: hidden;

  input[type="text"] {
    grid-column: 1;
    background-color: var(--x0);
    font-family: bungee, monospace;
    font-size: 1.4rem;
    font-weight: bold;
    height: 1rem;
    max-width: 50vw;
    min-width: 100px;
    opacity: 0.4;
    padding: 1.1rem 2rem;
    text-align: center;
    border-top-left-radius: 2.0em;
    border-bottom-left-radius: 2.0em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    border-right: none;

    &::placeholder {
      color: white;
      opacity: 0.4;
      mix-blend-mode: plus-lighter;
    }
  }

  label#imgInputLabel {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    background: var(--bn);
    color: #fff;
    cursor: pointer;
    border-top-right-radius: 2.2em;
    border-bottom-right-radius: 2.2em;
    transition: background-color 0.2s;

    img {
      mix-blend-mode: plus-lighter;
    }

    &:active,
    &:focus {
      background-color: var(--x2);
    }
  }
}

/* --------------- */

#controls {
  display: grid;
  gap: 0.4rem;
  mix-blend-mode: plus-lighter;
}

.range-group {
  display: flex;
  flex-direction: column;
}

.range-group label {
  color: var(--x2);
  font-weight: bold;
  font-size: 0.8rem;
  font-family: bungee, monospace;
  opacity: 0.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 24px;
  padding: 0 1em;
}

input[type="range"] {
  width: min(90vw, 300px);
  height: 0.5rem;
  appearance: none;
  position: relative;
  outline: none;
  display: block;
  border-radius: 0.6rem;
  box-shadow: 0 0 1.8rem var(--bo);
}

input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 0.6rem;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: var(--thumb-width);
  height: var(--thumb-height);
  background: var(--x0);
  border-radius: var(--thumb-radius);
  transition: var(--thumb-transition);
  box-shadow: var(--thumb-shadow);
  cursor: pointer;
  border: none;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active,
input[type="range"]::-webkit-slider-thumb:focus {
  transform: scale(var(--thumb-hover-scale));
  background: var(--thumb-hover-bg);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: var(--thumb-width);
  height: var(--thumb-height);
  background: var(--x0);
  border-radius: var(--thumb-radius);
  transition: var(--thumb-transition);
  box-shadow: var(--thumb-shadow);
  cursor: pointer;
  border: none;
}

input[type="range"]::-moz-range-thumb:hover,
input[type="range"]::-moz-range-thumb:active,
input[type="range"]::-moz-range-thumb:focus {
  transform: scale(var(--thumb-hover-scale));
  background: var(--thumb-hover-bg);
}

input[type="range"]:active {
  cursor: grabbing;
}

.download-buttons {
  display: grid;
  place-items: center;
  place-self: center;
  mix-blend-mode: overlay;
  filter: url(#gooey) opacity(0.4);
  width: 80%;
  padding: 0.5rem;
  border-radius: 1rem;
  transform: scale(0.9);

  img {
    padding: 0.4rem;
  }

  div {
    border-radius: 1rem;
    outline: solid 18px var(--x3);
    background-color: var(--x3);
    box-shadow: 0 0 2.0rem var(--x3);
  }

}

button {
  background-color: var(--x3);
  outline: solid 6px var(--x3);
  cursor: pointer;
  font-family: bungee, monospace;
  font-weight: 400;

  font-size: 1.4rem;
  color: white;
  border-radius: 2rem;
  transition: all 0.3s ease;
  border: none;

  &:disabled {
    cursor: not-allowed;
    color: gray;
  }

  &:hover,
  &:focus-visible,
  &:active {
    box-shadow: 0 0 1.8rem var(--x3);
    transform: scale(1.6);
  }
}

#preview {
  display: grid;
  place-items: center;
  border-radius: 6rem;
  width: 100%;
  margin: -2em 0px -4em 0em;
  max-height: 120px;

  svg {
    width: 100%;
    height: 100%;
    max-height: 200px;
  }
}

#version {
  font-family: bungee, monospace;
  font-weight: bold;
  color: var(--x2);
  position: fixed;
  bottom: 0.2rem;
  left: 0.6rem;
  font-size: 0.8rem;
  opacity: 0.4;
  pointer-events: none;
  mix-blend-mode: color-dodge;
}